<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recipies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="recipies.length; else empty">
    <app-recipie-item
      *ngFor="let recipie of recipies"
      [recipieItem]="recipie"
    ></app-recipie-item>
    <!-- <ion-item
      *ngFor="let recipie of recipies"
      [routerLink]="['/recipies', recipie.id]"
    >
      <ion-avatar slot="start">
        <ion-img [src]="recipie.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{ recipie.title }}</ion-label>
    </ion-item> -->
  </ion-list>
  <ng-template #empty>
    <div class="tinypan">
      <!-- Generating new Recipies... -->
      <h1>Generating new Recipies..</h1>
      <div id="cooking">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div id="area">
          <div id="sides">
            <div id="pan"></div>
            <div id="handle"></div>
          </div>
          <div id="pancake">
            <div id="pastry"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>
